### Exercises

In [28]:
college = pd.read_csv("College2.csv",index_col = 0)
college.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

Using college.csv, which contains:

A data frame with 777 observations on the following 18 variables.  

Private: No or Yes indicating private or public university  
Apps: Number of applications received  
Accept: Number of applications accepted  
Enroll: Number of new students enrolled  
Top10perc: Pct. new students from top 10% of H.S. class  
Top25perc: Pct. new students from top 25% of H.S. class  
F.Undergrad: Number of fulltime undergraduates  
P.Undergrad: Number of parttime undergraduates  
Outstate: Out-of-state tuition  
Room.Board: Room and board costs  
Books: Estimated book costs  
Personal: Estimated personal spending  
PhD: Pct. of faculty with Ph.D.'s  
Terminal: Pct. of faculty with terminal degree  
S.F.Ratio: Student/faculty ratio  
perc.alumni: Pct. alumni who donate  
Expend: Instructional expenditure per student  
Grad.Rate: Graduation rate

In [29]:
idx = list(range(len(college.columns)))
idx.remove(1)
X = college.iloc[:, idx].values
y = college.iloc[:, 1].values # number of applications

labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)


sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [30]:
college.loc['Rensselaer Polytechnic Institute']

Private          Yes
Apps            4996
Accept          4165
Enroll           936
Top10perc         53
Top25perc         82
F.Undergrad     4291
P.Undergrad       16
Outstate       17475
Room.Board      5976
Books           1230
Personal        1100
PhD               94
Terminal          98
S.F.Ratio       15.4
perc.alumni       21
Expend         15605
Grad.Rate         70
Name: Rensselaer Polytechnic Institute, dtype: object

### 1. Ridge Regression

Predict Apps ( Number of applications received) with a Ridge regression model using RidgeCV.  
Output $R^2$ and MSE for the test data and the best alpha.

In [ ]:
# Your code here

### 2. Lasso Regression

Predict Apps ( Number of applications received) with a Lasso regression model using LassoCV. Output $R^2$ and MSE for the test data and the best alpha.

In [ ]:
# Your code here

### 3. Recursive Feature Elimination

Use RFECV on a Lasso model instance to determine the features to eliminate.

In [ ]:
# Your code here

### 4. Use RFECV fit.support

Predict Apps with a Linear regression model using the variables selected by the RFECV object. Output $R^2$ and MSE for the test data.

In [ ]:
# Your code here

### 5. Elastic Net Regression

Fit an ElasticNet Cross-Validated model to the training data.  
Plot the coefficients.  
Print the number of coefficients shrunk to zero.

In [ ]:
# Your code here