## Exercise Set 4

Due 11/2 10am

20 points. 10 questions (2 points each)

Name your submission your_rcsid_Exercise4.ipynb

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)

import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

#### Questions 1-3 using college.csv, which contains:

A data frame with 777 observations on the following 18 variables.  

Private: No or Yes indicating private or public university  
Apps: Number of applications received  
Accept: Number of applications accepted  
Enroll: Number of new students enrolled  
Top10perc: Pct. new students from top 10% of H.S. class  
Top25perc: Pct. new students from top 25% of H.S. class  
F.Undergrad: Number of fulltime undergraduates  
P.Undergrad: Number of parttime undergraduates  
Outstate: Out-of-state tuition  
Room.Board: Room and board costs  
Books: Estimated book costs  
Personal: Estimated personal spending  
PhD: Pct. of faculty with Ph.D.'s  
Terminal: Pct. of faculty with terminal degree  
S.F.Ratio: Student/faculty ratio  
perc.alumni: Pct. alumni who donate  
Expend: Instructional expenditure per student  
Grad.Rate: Graduation rate

In [3]:
college = pd.read_csv("College2.csv",index_col = 0)
college.head()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [4]:
idx = list(range(len(college.columns)))
idx.remove(1)
X = college.iloc[:, idx].values
y = college.iloc[:, 1].values # number of applications

labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = 0.25, 
                                                    random_state = 0)


sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)


feats = college.columns.tolist()
del feats[1]
feats

['Private',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F.Undergrad',
 'P.Undergrad',
 'Outstate',
 'Room.Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S.F.Ratio',
 'perc.alumni',
 'Expend',
 'Grad.Rate']

### 1. Ridge Regression

Predict Apps ( Number of applications received) with a Ridge regression model using RidgeCV.  
Output $R^2$ and MSE for the test data and the best alpha.

In [ ]:
# Your Code Here
from sklearn.linear_model import Ridge, RidgeCV 
model = RidgeCV(store_cv_values = True)

### 2. Lasso Regression

Predict Apps ( Number of applications received) with a Lasso regression model using LassoCV. 

Output $R^2$ and MSE for the test data and the best alpha.

In [ ]:
# Your Code Here

### 3. Elastic Net Regression

Fit an ElasticNet Cross-Validated model to the training data.  
Plot the coefficients.  
Print the number of coefficients shrunk to zero.

In [ ]:
# Your Code Here

### MPG Dataset

In [ ]:
mpg = sns.load_dataset('mpg')
mpg.dropna(inplace=True)
mpg.tail()

In [ ]:
X = mpg.iloc[:,1:-2].values
y = mpg.loc[:,'mpg'].values

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.20, random_state = 1234)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

### 4. Decision Tree Regression

Using the MPG dataset, create a Decision Tree regressor with a max_depth of 6 and mean squared error for the criterion.

Output the model parameters.

In [ ]:
# Your Code Here

###  5. Pruning a Decision Tree 

Using the model from  question 4, determine the best ccp_alpha for the seaborn 'mpg' dataset.

Determine the ccp_alphas with cost_complexity_pruning_path.

Using the ccp_alphas, determine the best model score.

Output the best score

In [ ]:
# Your Code Here

### 6. Fit a Decision Tree Regressor to the seaborn 'mpg' dataset. 

Predict mpg as a  function of all the features.  Use the ccp_alpha from 5.

Output feature importances and R-squared.

In [ ]:
# Your Code Here

### 7. Bootstrap

Given the code below create two distributions:  
Distribution 1: Sampling Distribution of the Mean  
Distribution 2: Bootstrap means.

Plot the distributions

In [ ]:
np.random.seed(1234)
N = 10000 #Number of samples in distribution
sample_size = 100

Population = np.random.randint(1,100,size=1000)

def sample_pop(sample_size):
    return np.random.choice(Population,sample_size)

In [ ]:
# Your Code Here

### 8. RandomForest  regression 

Using the Hitters dataset  and the code below to predict Salary

Create a Random Forest regression model.

Output R-squared and feature importances

In [ ]:
Hitters = pd.read_csv('Hitters.csv')
Hitters = Hitters.dropna()
Hitters.head()

In [ ]:
feats = ['AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years', 'CAtBat',
         'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'PutOuts', 'Assists', 'Errors']

X = Hitters.loc[:, feats].values
y = Hitters.loc[:, 'Salary'].values

# Make Validation Set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1234)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

In [ ]:
# Your Code Here

### 9. Grid Search for Random Forest

Do a grid search for the best parameters of a RandomForestRegressor  estimator.  

Search over 10,100,500 estimators, 3,6,9,12,16 max_features and 'mse', 'mae' criterion.

Output the best score and best parameters.

In [ ]:
# Your Code Here

### 10. Create a  RandomForestRegressor model with the best parameters from 9.  
Output the test data R-squared and MSE.

In [ ]:
# Your Code Here