## Tensorflow Linear Regression

https://www.tensorflow.org/api_docs/python/tf

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
tf.__version__

#### Google colab

Check if using Google Colab in order to upload data files

In [3]:
import sys
if 'google.colab' in sys.modules:
    from google.colab import files
    uploaded = files.upload()

In [4]:
howell = pd.read_csv("Howell.csv",sep=';')
adult = howell.query("age > 17")
adult.tail()

      height     weight   age  male
534  162.560  47.031821  27.0     0
537  142.875  34.246196  31.0     0
540  162.560  52.163080  31.0     1
541  156.210  54.062497  21.0     0
543  158.750  52.531624  68.0     1

In [5]:
X = adult.weight.values.reshape(-1,1)
#X = adult.loc[:,['weight','age']]
y = adult.height.values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=1234)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((281, 1), (71, 1), (281, 1), (71, 1))

In [6]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
y_train = scaler.fit_transform(y_train)
y_test = scaler.transform(y_test)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((281, 1), (71, 1), (281, 1), (71, 1))

In [ ]:
model = Sequential()

model.add(Dense(units=8,activation='relu'))
model.add(Dense(units=1))

In [ ]:
model.compile(loss='mean_squared_error', optimizer='adam')

In [ ]:
model.fit(x=X_train, 
          y=y_train, 
          epochs=30,
          validation_data=(X_test, y_test), verbose=1
          )

In [ ]:
model_loss = pd.DataFrame(model.history.history)
model_loss.plot()

In [ ]:
predicted = model.predict(X_test)

In [ ]:
r2_score(y_test,predicted),np.sqrt(mean_squared_error(y_test,predicted))